{{>profile
}}
<form id="playlist-form">
  <label for="playlist-name">
{{!--    <span class="error-msg">You've forgotten to add a playlist name!</span>--}}
    Name Playlist
    <input id="playlist-name" type="text" placeholder="E.g. 'Summer vibes!'" required>
  </label>
  <label for="duration">
    Max amount of songs
    <input id="duration" type="text" placeholder="40" required>
  </label>
  <fieldset>
    <legend> Pick my songs from..</legend>
    <input type="radio" name="term" id="short">
    <label for="short">
      Past 4 Weeks

    </label>
    <input type="radio" name="term" id="medium" checked>
    <label for="medium">
      Past 6 Months

    </label>
    <input type="radio" name="term" id="long">
    <label for="long">
      All Time

    </label>
  </fieldset>
  <input type="submit" value="Create a new playlist" class="btn">
</form>
