.btn {
  width: 17vw;
  min-width: 15em;
  height: 3em;
  background-color: var(--spotify-color);
  border-radius: 50px;
  box-shadow: none;
  border: 0;
  color: var(--light-color);
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 700;
}
