/* General */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
  --spotify-color: #1ED760;
  --primary-color: #FF7A7A;
  --cta-color: #FE9D65;
  --light-color: #FFFFFF;
  --dark-color: #342F2F;
}

.hide {
  display: none;
}

#loggedin {
  display: none;
}
